<div class="ui page grid">
	<div class="eight wide column">
		<h1 class="ui header">
			<i class="home icon"></i>
			<div class="content">Profile</div>
		</h1>
	</div>
	<div class="eight wide column">
		<button ng-click="logout()" class="ui compact right floated small button">
			<i class="sign out icon"></i>Logout
		</button>
	</div>

	<div class="sixteen wide column">
		<div class="ui segment">
			<h3 class="ui header">
				<i class="user icon"></i>
				<div class="content">Local</div>
			</h3>
			<p>
				<strong>E-mail:</strong> {{user.email}}
			</p>
		</div>
		<div class="ui segment">
			<h3 class="ui header">
				<i class="game icon"></i>
				<div class="content">Games</div>
			</h3>
			<div class="ui card">
				<div class="content">
					<div class="header">Grid demo</div>
					<div class="description">
						<p>A simple test page for drag-and-drop and snapping to a grid.</p>
					</div>
				</div>
				<a ui-sref="demo" class="ui bottom attached primary button">
					<i class="play icon"></i>Play
				</a>
			</div>
		</div>
	</div>
</div>
